@import "../../../styles/variables";

:host {
  .loading {
    margin-top: 300px;
    color: $cardText;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
  }

  .planet {
    color: $cardText;
  }

  .planets-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .planets-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    color: $cardText;
    grid-gap: 10px;
  }

  .planet-name {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .planet-card {
    background: $cardBg;
    color: $cardText;
    padding: 7px 10px;
    border-radius: 4px;
    border: 3px solid #ffffff;
    font-weight: 700;

    span {
      font-weight: 300;
    }
  }

  .planet-card:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
  }

  .pages {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .page-link {
    cursor: pointer;
    color: $cardText;
  }

  .page-link:last-child {
    margin-left: 30px;
  }
}
